@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Lato:wght@900&family=Lobster&family=Montserrat:wght@500&family=Pattaya&display=swap');

* {
    padding:0;
    margin:0;
}

.header {
    background-color: #d0ece0;
    width:100%;
    height:10em;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: white;
    width:80%;
    height: 5em;
    margin-top: 2em;
    box-shadow: -1px 2px 19px -7px rgba(0,0,0,0.35);

}

.nav__ul  {
    padding-top:1.5em;
}

.nav__ul > li {
    display: inline-block;
    font-family: 'Cairo', sans-serif;
    padding-left:1.2em;
    padding-right: 1.2em;
    font-weight: 700;
    float:right;
    cursor: pointer;
}

.nav__ul > li:hover {
    color:orange;
}


.nav__ul > li:first-child {
    float: left;
    color:orange;
    font-weight: 600;
    margin-right:5em;
}

.nav__ul > .contact__btn {
    background-color:orange;
    width:6em;
    height:1.8em;
    color:white;
    border-radius:4px;
    text-align: center;
    padding-bottom: .3em;
    margin-left: 4em;
    margin-right: 2em;
    font-family: 'Cairo', sans-serif;
    cursor: pointer;

}

.nav__ul > .contact__btn:hover {
    color:black;
    background-color: white;
}




.second__header {
    background-color: #d0ece0;
    width:100%;
    height:31.8em;
    position:relative;
   
}


.side__text {
    margin-left: 8em;
    margin-top:8em;
    float: left;
    width: 40%;

}

.side__text > .title {
    font-family: 'Lobster', cursive;
    font-size: 3.5em;
    line-height: .9em;
    color:#2e3a4a;
    letter-spacing:.1em ;
}

.side__text > .description {
    margin-top:1.5em;
    font-family: 'Cairo', sans-serif;
    width:70%;
    color:#a2aeba;
    line-height: 1.3em;

}


.side__text > .hireme_btn {
    border:0px;
    background-color: #df680a;
    color:white;
    text-align: center;
    font-family: 'Cairo', sans-serif;
    margin-top:.8em;
    border-radius: 4px;
    width:9em;
    height:2.2em;
    cursor: pointer;
}

.side__text > .hireme_btn:hover {
    background-color:white;
    color:black;
}



.side_img {
    float:right;
    width: 45%;
    position: absolute;
    right:0em;
}

.side_img > img {
    width:60%;
/*
    background-color: #fccabf;
    border-top-left-radius: 25px;
    border-top-right-radius: 75px;
    box-shadow: -1px 2px 75px 9px rgba(0,0,0,0.35);
    background: rgb(254,201,197);
    background: linear-gradient(94deg, rgba(254,201,197,0.26934523809523814) 21%, rgba(254,201,197,0.11528361344537819) 48%, rgba(247,132,218,0.3925945378151261) 84%);
*/
}


.left__side {
    float:left;
    width:50%;
    margin-left: 7em;
    display: grid;
    grid-column: auto;
}

.services {
    margin-top:5em;
    position: relative;
}


.left__side > .card {
    box-shadow: -1px 2px 75px 9px rgba(0,0,0,0.35);
    width:22em;
    border-radius: 4px;
    margin-bottom:4em;
    cursor:pointer;

}

.left__side > .card:hover {
    background-color:palevioletred;
}

.left__side > .card > .title {
    color: #df680a;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    background-color: white;
    font-size:1.8em;
    padding-left:1.1em;
}

.left__side > .card > .description {
    color: black;
    font-family: 'Cairo', sans-serif;
    background-color:white;
    width:70%;
    line-height: 1em;
    text-align: left;
    padding-left:2em;
    padding-bottom: .8em;
}


.right__side {
    float:right;
    width: 50%;
    position: absolute;
    right:1em;
}

.right__side > .title {
    font-family: 'Cairo', sans-serif;
    color:#0e1c41;
    font-weight: 700;
    font-size: 4em;
    line-height: .9em;
}

.right__side > .description {
    font-family: 'Cairo', sans-serif;
    color:#c0c1c5;
    width:70%;
    margin-top: 2em;
    line-height: 1.7em;
}

.right__side > .cv__btn {
    border:0px;
    background-color:orangered;
    color:white;
    font-family: 'Cairo', sans-serif;
    width:13em;
    height: 3em;
    text-align: center;
    border-radius: 4px;
    margin-top: 1.3em;
    cursor: pointer;
}


.right__side > .cv__btn:hover {
    background-color: orange;
}